$blue-dark:                         #003366;
$white:                             #fff;
$black:                             #000;
$pink:                              #cc3399;
$pink-dark:                         #98126b;
$gray:                              #f3f4f2;
$gray-dark:                         #333333;
$medium-gray:                       #868B8D;
$dark-red:                          #8B2938;
$medium-black:                      #202020;
$font-nunito:                       'Nunito', sans-serif;
$font-dosis:                        'Dosis', sans-serif;
$text-shadow:                       3px 4px 3px #000;
$trans-all:                         all 0.5s;
$line-height-base:                  1.5 !default;
$border-width:                      1px !default;
$border-radius-lg:                  .3rem !default;
$border-color:                      #dee2e6;
$enable-transitions:                true !default;
$enable-prefers-reduced-motion-media-query:   true !default;
$enable-rounded:                              true !default;
$enable-shadows:                              false !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Modals
$modal-inner-padding:               1rem !default;
$modal-dialog-margin:               .5rem !default;
$modal-dialog-margin-y-sm-up:       1.75rem !default;
$modal-title-line-height:           $line-height-base !default;
$modal-content-color:               null !default;
$modal-content-bg:                  $white !default;
$modal-content-border-color:        rgba($black, .2) !default;
$modal-content-border-width:        $border-width !default;
$modal-content-border-radius:       $border-radius-lg !default;
$modal-content-box-shadow-xs:       0 .25rem .5rem rgba($black, .5) !default;
$modal-content-box-shadow-sm-up:    0 .5rem 1rem rgba($black, .5) !default;
$modal-backdrop-bg:                 $black !default;
$modal-backdrop-opacity:            .5 !default;
$modal-header-border-color:         $border-color !default;
$modal-footer-border-color:         $modal-header-border-color !default;
$modal-header-border-width:         $modal-content-border-width !default;
$modal-footer-border-width:         $modal-header-border-width !default;
$modal-header-padding-y:            1rem !default;
$modal-header-padding-x:            1rem !default;
$modal-header-padding:              $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility
$modal-xl:                          1140px !default;
$modal-lg:                          800px !default;
$modal-md:                          546px !default;
$modal-sm:                          300px !default;
$modal-fade-transform:              translate(0, -50px) !default;
$modal-show-transform:              none !default;
$modal-transition:                  transform .3s ease-out !default;
$zindex-modal:                      99999 !default;
$zindex-modal-backdrop:             99998 !default;